%div#toolbarContainer(style="display: none;")
  %div#menuToolbarContent
    %a{:href => "http://railstutor.org", :title => "railstutor.org"} Rails Courseware  
    %a{:href => "http://builders.railsbridge.org", :title => "RailsBridge Builders"} Builders 
    %a{:href => "http://railsmentors.org", :title => "railsmentors.org"} Rails Mentors  
    %a{:href => "http://teachingkids.railsbridge.org", :title => "teachingkids.railsbridge.org"} Teaching Kids
    %a{:href => "http://wiki.railsbridge.org", :title => "wiki.railsbridge.org"} RailsBridge Wiki  
    %a{:href => "http://workshops.railsbridge.org", :title => "workshops.railsbridge.org"} Workshops  
    %a{:href => "http://rubychallenge.com/", :title => "rubychallenge.com"} Ruby Challenge 

#networkToolbar
  #networkToolbarMargin
  #networkToolbarContainer
    #networkToolbarTriger  
      <a href="#" id="menuTrigger"><img src="/images/rbnDownButton.png" /></a>
